* {
    font-family: Georgia, 'Times New Roman', Times, serif
}
.heading, .headings {
    background-color: #4a7c59;
    color: #faf3dd;
    text-align: center;
}

a {
    color: #faf3dd;
    text-decoration: line;
}

.link, .links {
font-size: 20px;
font-weight: bold;
line-height: 40px;
}

.text {
    color: white;
}
